{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "ploutos", "1.0.0",
      [
        kernel,
        stdlib,
        sasl,
        ploutos
      ]},
    {rel, "start_clean", "",
      [
        kernel,
        stdlib
      ]},
    {boot_rel, "ploutos"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]}
  ]}.

{target_dir, "ploutos"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "etc"},
    {mkdir, "data/dummy"},
    {mkdir, "log/sasl"},
    {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "../deps/node_package/priv/base/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {template, "../deps/node_package/priv/base/runner", "bin/ploutos"},
    {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},
    {template, "../deps/node_package/priv/base/app_epath.sh", "lib/app_epath.sh"},
    {template, "files/app.config", "etc/app.config"},
    {template, "files/vm.args", "etc/vm.args"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"}
  ]}.
