%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.
{app_name, "ploutos"}.

%%
%% bin/ploutos
%%
{runner_script_dir,  "$(dirname $(readlink -f $0))"}. %% for linux
%{runner_script_dir,  "$(cd ${0%/*} && pwd)"}. %% for mac
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/ploutos-patches"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        "ploutos"}.
{runner_wait_process, "post_pool"}.

%%
%% etc/vm.args
%%
% {node,         "{{app_name}}"}.
{node,         "{{app_name}}2@127.0.0.1"}.
{cookie,       "{{app_name}}2"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.



%%
%% etc/app.config
%%
{sasl_error_log, "{{platform_log_dir}}/sasl-error.log"  }.
{sasl_log_dir, "{{platform_log_dir}}/sasl" }.

{log_level, debug }.

%%
%% statsd
%%
{statsd_host, "localhost" }.
{statsd_port, 8125 }.

%%
%%cache
%%
{cache_host, "localhost" }.
{cache_port, 11211 }.


%%
%% database
%%
{db_host, "192.168.199.81" }.
{db_port, 5432 }.
{db_username, "ploutos" }.
{db_password, "ploutos" }.
{db_database, "ploutos2" }.
% {db_pool_size, 10}.


%%
%%ploutos
%%
{ploutos_mode, development }. %% production
{ploutos_ip, "0.0.0.0" }.
{ploutos_port, 8002 }.
{ploutos_timeout, 300000 }.
{ploutos_acceptors, 10 }.
{ploutos_max_connections, 50 }.
