[
 %% SASL config
 {sasl, [
      {sasl_error_logger, {file, "{{sasl_error_log}}"}},
      {errlog_type, error},
      {error_logger_mf_dir, "{{sasl_log_dir}}"},      % Log directory
      {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
      {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
  {lager, [
      {handlers, [
          {lager_file_backend, [
              {file, "{{platform_log_dir}}/{{log_level}}.log"},
              {level, {{log_level}} },
              {size, 10485760},
              {count, 50},
              {date, "$D0"},
              {formatter, lager_default_formatter},
              {formatter_config, []}
            ]}
        ]},
      {error_logger_redirect, true},
      {crash_log, "{{platform_log_dir}}/crash.log"},
      {crash_log_msg_size, 65536},
      {crash_log_size, 10485760},
      {crash_log_date, "$D0"},
      {crash_log_count, 5}
    ]},
 {statsd, [
    {host, "{{statsd_host}}"},
    {port, {{statsd_port}}}
  ]},
  
  {ploutos,[
    {mode, {{ploutos_mode}}}, %% production, development
    {ip, "{{ploutos_ip}}"},
    {port, {{ploutos_port}}},
    {timeout, {{ploutos_timeout}}},
    {acceptors, {{ploutos_acceptors}}},
    {max_connections, {{ploutos_max_connections}}},
    {cache, [{"{{cache_host}}", {{cache_port}}, 10}]}, %% {host, port, pool_size}
    {db_host, "{{db_host}}"},
    {db_port, {{db_port}}},
    {db_username, "{{db_username}}"},
    {db_password, "{{db_password}}"},
    {db_database, "{{db_database}}"}
  ]}
].



